<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="error-container">
                <div class="error-icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                <div class="error-title">
                    Access Denied
                </div>
                <div class="error-description">
                    You do not have permission to view this page.<br>
                    Please check your credentials and try again.
                </div>
                <div class="error-code">
                    Error Code: 403
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-action="Index" asp-controller="Home">Back to Home</a>
<link rel="stylesheet" href="~/css/Error.css" asp-append-version="true" />
